.positoning {
    color: #ffffff;
    position: absolute;
    z-index: 1000;
    background: url('https://img.photographyblog.com/reviews/kodak_pixpro_fz201/photos/kodak_pixpro_fz201_01.jpg');
    width: 700px;
    height: 100px;
}

.imagebackground {
    z-index: 999;
}